<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <create_account>
                <source_address>shipping</source_address>
            </create_account>
        </customer>
        <success_page>
            <registration_form>
                <enabled>1</enabled>
            </registration_form>
        </success_page>
    </default>
</config>
