<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Block\Form\Register">
        <plugin name="magesuite_registration_email" type="MageSuite\SuccessPageRegistration\Plugin\Customer\Block\Form\AddUserDataToRegisterForm" sortOrder="1" disabled="false"/>
    </type>

    <type name="Magento\Captcha\Observer\CheckUserCreateObserver">
        <plugin name="check_if_captcha_required" type="MageSuite\SuccessPageRegistration\Plugin\Captcha\Observer\CheckUserCreateObserver\ValidateForm"/>
    </type>

    <type name="MSP\ReCaptcha\Model\Validate">
        <plugin name="validate_recaptcha_success_page" type="MageSuite\SuccessPageRegistration\Plugin\MSP\ReCaptcha\Model\Validate\ValidateReCaptcha"/>
    </type>

    <type name="Magento\ReCaptchaCustomer\Observer\CreateCustomerObserver">
        <plugin name="check_if_recaptcha_required" type="\MageSuite\SuccessPageRegistration\Plugin\ReCaptchaCustomer\Observer\CreateCustomerObserver\ValidateForm"/>
    </type>
</config>
